@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height:100%; */
}

body {
    background-image: linear-gradient(to bottom, #B994FF, #BF7BE8);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(83, 78, 148, 0.61);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #837BE8;
    text-align: center;
    text-shadow: 3px 2px 2px rgba(102, 97, 179, 0.596);
}

h2 {
    color: #879EFF;
}

p {
    text-align: justify;
}